.drop {
  position: relative;

  &__wrap {
    &:hover {
      .drop__box {
        visibility: visible;
        transition: all 0.3s ease;
      }
    }
  }

  &__box {
    position: absolute;
    top: calc(100% + 18px);
    min-width: 176px;
    visibility: hidden;
    background-color: rgba($white, 0.94);
    border-radius: 8px;
    min-height: 124px;
    padding: 24px 0;
    overflow-y: auto;
    transition: all 0.3s ease;
    font-size: 16px;
    right: 0;

    @media (min-width: $breakpoint-sm) {
      right: auto;
      left: 0;
    }

    li {


      &:hover {
        background-color: #ecf1f8;
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 8px 24px;
      color: $blue;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      i {
        padding-right: 16px;
      }
    }
  }
}