<header class="header">
  <div class="container">
    <div class="header-top">
      <strong class="header__img">
        <a href="/">
          <img src="img/logo.svg" alt="image description">
        </a>
      </strong>
      <div class="header-right">
        <div class="header-profile">
          <span class="header-profile__name">John Doe</span>
          <div class="header-profile__img">
            <img src="img/card-img-1.jpg" alt="personalbigicon">
          </div>
          <i class="header-profile__icon icon icon-arrow-down"></i>
        </div>
        <ul class="header-menu">
          <li><a href="/"><i class="header-profile-icon icon icon-notification"></i></a></li>
          <li><a href="/"><i class="header-profile-icon icon icon-game"></i></a></li>
          <li><a href="/"><i class="header-profile-icon icon icon-setting"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="header-bottom">
      <ul class="header-pages">
        <li><a href="/" class="active">FEED</a></li>
        <li><a href="/">EXPLORE</a></li>
        <li><a href="/">DISCUSSION <span></span></a></li>
      </ul>
      <button class="header-add"></button>
    </div>
  </div>
</header>