$font-main: "Montserrat", sans-serif;

// Color:
$white: #ffffff;
$black: #000000;

$primary: #ed5267;

$gray: #b2b3bb;
$blue: #3e4056;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
