$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icon-font" !default;

$icon-share: "\e909";
$icon-arrow-down: "\e900";
$icon-close-square: "\e901";
$icon-edit: "\e902";
$icon-game: "\e903";
$icon-heart: "\e904";
$icon-notification: "\e905";
$icon-setting: "\e906";
$icon-show: "\e907";
$icon-square: "\e908";

